.form-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 500px;
  max-width: 90%;
  margin: auto;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.input-field {
  padding: 14px;
  margin-bottom: 25px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  width: 100%;
  font-size: 16px;
}

.login-button {
  padding: 14px 28px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.login-button:hover {
  background-color: #0069d9;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
