.RecipeSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  }
  
  .heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  
  .input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    margin-left: 1rem;
  }
  
  .button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #3f51b5;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 1rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: #2c387e;
  }
  
  .recipes {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
  
  .recipe {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  
  .recipe:hover {
    transform: translateY(-0.25rem);
  }
  
  .image-container {
    height: 200px;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .recipe-info {
    padding: 1rem;
  }
  
  .recipe-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .recipe-summary {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .recipe-time {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .recipe-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #3f51b5;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .recipe-button:hover {
    background-color: #2c387e;
  }
  
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    width: 80%;
   
  }  